.nutrient-circle-wrapper {
}
.nutrient-circle {
    transform: rotate(90deg);
    transform-origin: center;
    transition: stroke-dashoffset 350ms;
}
.nutrient {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nutrient-info {
    position: absolute;
    width:6em;
    height:6em;
    display:grid;
    place-items: center;
}
.nutrient-amount {
    font-weight:700;
    font-size:1.125em;
    line-height: 1.125em;
    text-align: center;
}
.nutrient-unit {
    font-weight:200;
    font-size: 0.875em;
    line-height: 1em;
    text-align: center;
}
.nutrient-name {
    margin:2.5px;
}