.input-field {
    position: relative;
    margin: 0.5rem 0;
    box-sizing: border-box;
}
.input-field label {
    position: absolute;
    top:-0.7em;
    left:10px;
    background-color:#fff;
    padding:0 7px;
    font-size: 1em;
}
.input-field input {
    outline:none;
    border: 1px solid #dadce0;
    background:#fff;
    border-radius:5px;
    display: block;
    padding:10px;
    width:100%;
    font-size: 1.125em;
    box-sizing: border-box;
}
.input-field input:focus {
    outline:none;
    border: 2px solid rgb(26, 115, 232);
    border-radius:5px;
}

.input-field input:focus + label{   
    color: rgb(26, 115, 232);
    font-weight: 500;
}