html
{
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
input, textarea, button {font-family: inherit}
body {
  margin:0;
  overflow: hidden;
}

  @media only screen and (min-width: 28.78em)
  {
    html
    {
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 33.4em)
  {
    html
    {
      font-size: 18px;
    }
  }

@supports (font: -apple-system-body)
{
  html
  {
    font: -apple-system-body;
  }

  /* default size of -apple-system-body here is 17px
   using that as a default, scale text down to equivalent of 14px (14/17).
  */
  body
  {
    font-size: 0.94em;
  }

  @media only screen and (min-width: 28.78em)
  {
    html
    {
      font: -apple-system-body;
    }

    /* default size of -apple-system-body here is 17px
     using that as a default, scale text down to equivalent of 16px (16/17).
    */
    body
      {
        font-size: 0.82em;
      }
    }


  @media only screen and (min-width: 33.4em)
  {
    html
    {
      font: -apple-system-body;
    }

    /* default size of -apple-system-body here is 17px
     using that as a default, scale text down to equivalent of 18px (18/17)
    */
    body
    {
      font-size: 1.06em;
    }
  }
}
* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
