html {
  -webkit-text-size-adjust: auto;
}

body {
  margin: 0;
  background-color: rgba(249, 249, 249, 1);
  font-family: Nunito;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
