.table-container {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(206px,1fr));
}
.nutrition-list {
    list-style: none;
    padding:0; 
}
.nutrition-nutrient {
    font-size:1em;
    font-weight:600;
}
.nutrition-nutrient-quantity {
    width:7em;
    display:flex;
    align-items: baseline;
}
.nutrition-nutrient-value {
    text-align: end;
    width:3.5em;
    background:transparent;
    border:none;
    font-size:1em;
    border: 1px solid #1A73E8;
    border-radius:4px;
}
.nutrition-nutrient-unit {
    width:3.5em;
    text-align: center;
    font-size:1em;
    font-weight: 300;
}

.nutrition-list input:disabled {
    border:none;
    color: #000;
}
.nutrition-list input::placeholder {
    color: #000;
}
.nutrition-sub-list {
    list-style: none;
    padding:0;
}
.nutrition-sub-list .nutrition-nutrient {
    font-weight:400;
    
}

.nutrition-list-name {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dadce0;
    padding:10px 20px;
    
}
.nutrition-sub-list-name {
    padding:5px 20px 5px 35px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dadce0;
    
}