.login-heading {
    margin:20px;
    color: #202124;
}
.login-p {
    font-size: 15px;
}
.login-button {
    margin: 30px 0 0 0;
    position: relative;
    width:100%;
    background-color:rgb(26, 115, 232);
    border:none;
    border-radius:3px;
    color:#fff;
    font-size: 1em;
    padding: 10px 0;
    font-weight: 600;
}
.login-links {
    color: rgb(26, 115, 232);
    font-weight: 700;
    font-size:0.8em;
    text-decoration: none;
    margin-top:15px;
    display:block;
}