.Search-container {
    width:100%;
}
.food-search {
    width:100%;
    box-sizing: border-box;
    background-color: #dedee4;
    border:none;
    border-radius: 5px;
    display:block;
    padding:10px;
    margin:10px 0;
}
.search-result {
    width:100%;
    margin:0 0 10px 0;
    padding:0;
    list-style: none;
}
.search-result li button {
    width:100%;
    background: transparent;
    border:none;
    padding:10px 30px;
    display:flex;
    justify-content: space-between;
}
.result-heading {
    background:#1A73E8;
    color:#fff;
    padding:5px 20px;
    font-size:0.8em;
    box-sizing: border-box;
}
.no-result {
    text-align:center;
    padding:10px;
}