.Search-container {
    width:100%;
}
.food-search {
    width:100%;
    box-sizing: border-box;
    background-color: #dedee4;
    border:none;
    border-radius: 5px;
    display:block;
    padding:10px;
    margin:10px 0;
}
.search-result {
    width:100%;
    margin:0 0 10px 0;
    padding:0;
    list-style: none;
}
.search-result > li > div {
    width:100%;
    padding:15px;
    display:flex;
    justify-content: space-between;
}
.result-heading {
    
    font-size:1.25em;
    font-weight: 600;
    box-sizing: border-box;
}
.no-result {
    text-align:center;
    padding:10px;
}
