.container {
    width:100%;
    margin:1rem auto;
    background:white;
    padding:1rem 1.5rem;
}

.flex-row {
    display: -webkit-flex;
    display:flex;
    flex-direction: row;
}
.flex-col {
    display: -webkit-flex;
    display:flex;
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.wrap {
    flex-wrap: wrap;
}
.no-padding {
    padding:0;
}
.no-margin {
    margin:0;
}
