.layout-container-child {
    flex:1;
}
.top-right {
    order: 1;
}

.bottom-left {
    order: 2;
}
@media screen and (min-width: 64em) {
    .layout-container-child {
        margin:15px;
    }
    .top-right {
        order: 2;
    }
    
    .bottom-left {
        order: 1;
    }
}